.count-container {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    width: 80%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    background-color: #b91646;
    color: #fff;
    border-radius: 10px;
    margin: 10px;
}

.btn-count {
    /* font-weight: bold; */
    padding: 5px 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 10px 30px;
}

.btn-add {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 5px 20px;
    background-color: #b91646;
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 10px 30px;
}